@use "globals" as *;

main{
    background-color: rgb(252, 252, 236);
    font-family: $font-family-orbitron;
    width: 100%;

    .title{
        font-size: $size-h2;
        text-align: center;
        padding-top: $padd-top4;
    }

    .wrapper{
        @include wrapper;
    
        .one{
            grid-column: 2 / 7;
            grid-row: 1;
    
            h2{
                font-size: $size-h2;
                margin-bottom: $margin-15rem;
                text-align: center;
            }
            p{
                font-family: Arial, Helvetica, sans-serif;
                font-size: $size-text-a;
                margin-bottom: $margin-15rem
            }
        }
    
        .two{
            grid-column: 8 / 12;

            h2{
                font-size: $size-h2;
                margin-bottom: 1.5rem;
                text-align: center;
            }
            p{
                font-family: Arial, Helvetica, sans-serif;
                font-size: $size-text-a;
                margin-bottom: $margin-1rem;
            }

            div{
                display: flex;
                justify-content: space-around;
                i{
                    margin-top: $margin-1rem;
                    font-size: $icons !important;
                    color: $color-primary-default;
                }
            }
        }

    }

    .footer{
        text-align: center;
        color: $color-primary-default;
        font-size: $size-h3;
    }
}